// Import fonts
@use url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&family=Stint+Ultra+Expanded&display&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Variables
$black: #000;
$white: #ffffff;
$primary: dodgerblue; // Red
$secondary: #3939A3; // Purple
$dark-gray: #363636;
$light-gray: #f4f4f4;
$dark-primary: #6f0003;

$footer-top-color: #CC1B1F;
$footer-bottom-color: #6F0003;

// Fonts
$heading: 'Stint Ultra Expanded',
serif;
$sub-heading: 'Quattrocento Sans', sans-serif;
$body: 'Montserrat', sans-serif;

// Base Styles
@use 'base/reset';
@use 'base/common';
@use 'base/grid';
@use 'base/helpers';
@use 'base/responsive-fonts';

@use 'base/header';
@use 'base/footer';
@use 'base/cta';
@use 'base/testimonials-slider';
@use 'base/home-page';
@use 'base/portfolio-grid.scss';
@use 'base/hero-title';
@use 'base/single-portfolio.scss';
@use 'base/company-ticker.scss';