

.home-hero {
    align-content: center;
    background-color: $primary;
    padding-top: 15px;
    min-height: 60vh;
    position: relative;
    z-index: 0;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: -50px;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
        pointer-events: none;
    }

    .row {
        align-items: center;
        justify-content: center;

        @media (max-width: 767px) {
            flex-direction: column-reverse;
        }

        h1 {
            color: $white;
            font-size: 1.2rem;
            font-weight: 700;
            margin-bottom: 30px;
            text-transform: uppercase;

            @media (max-width: 767px) {
                font-size: 1rem;
            }
        }

        h2 {
            color: $white;
            font-size: 3.2rem;
            font-weight: 700;

            @media (max-width: 1080px) {
                font-size: 2.4rem;
            }

            @media (max-width: 767px) {
                font-size: 1.8rem;
            }

            span {
                color: $secondary;
                text-transform: capitalize;
            }
        }

        .intro {
            p {
                color: $white;
                font-size: 22px;
                line-height: 30px;
                margin-bottom: 20px;
    
                @media (max-width: 767px) {
                    font-size: 1em;
                }
            }
        }

        .button-box {
            text-align: center;
        }
    }
}

.home-carousel-section {
    padding: 60px 0;
    background-color: $primary;

    @media (max-width: 767px) {
        padding: 15px;
    }

    .row {
        @media (max-width: 767px) {
            display: block;
        }
    }

    .owl-carousel {

        .owl-stage-outer {
            border: 1px solid #737373;
            border-radius: 10px;
        }
        
        .carousel-item {
            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }

        .owl-nav {
            position: absolute;
            top: 42%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            transform: translateY(-50%);
            pointer-events: none;

            .owl-nav-custom {
                font-size: 3rem;
                background-color: transparent;
                color: $secondary;
                cursor: pointer;
                pointer-events: auto;
                transition: all 0.2s ease;

                &:hover {
                    background-color: transparent;
                    color: $light-primary;
                    transform: scale(1.1);
                }
            }

            button.owl-prev {
                margin: 0;
                position: absolute;
                left: -40px;
                top: 42%;
            }

            button.owl-next {
                margin: 0;
                position: absolute;
                right: -40px;
                top: 42%;
            }

            @media (max-width: 767px) {
                display: none;
            }
        }
    }
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: transparent;
    color: $secondary;
}

.why-me-section {
    padding: 60px 0;
    background-color: $primary; // fallback
    background: linear-gradient(
    to bottom,
    #02264b,
    darken(#02264b, 10%)
    );
    color: $white;

    @media (max-width: 1180px) {
        padding: 15px;
    }

    h2 {
        margin-bottom: 30px;

        @media screen and (max-width: 767px) {
            margin-bottom: 15px;
            
        }
    }

    .row {
        align-items: center;

        @media (max-width: 767px) {
            flex-grow: 1;
        }
    }

    .why-me-content-big-container {
        border-left: 5px solid $primary;
        border-radius: 10px;
        padding: 70px 15px;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: $black;
            border-left: 5px solid $secondary;
        }

        @media (max-width: 767px) {
            border-left: none;
            border-top: 5px solid $secondary;
            padding: 10px;

            &:hover {
                background-color: $black;
                border-left: none;
                border-top: 5px solid $secondary;
            }
        }
    }

    h3 {
        font-weight: 700;
    }
    
    .why-me-list-container {
        @media (max-width: 767px) {
            margin-left: 0;
            min-width: 100%;
            width: 100%;
        }
    
        .why-me-list {
            display: flex;
            flex-direction: column;
            list-style-type: none;

            li {
                display: flex;
                align-items: center;
                padding: 15px;
                border: 1px solid #01478f;
                border-radius: 5px;
                margin-bottom: 15px;
                transition: all 0.3s ease-in-out;
                

                @media (max-width: 767px) {
                    margin-left: 0;
                    min-width: 100%;
                    width: 100%;
                }

                .icon {
                    padding-top: 4px;
                    i {
                        font-size: 1.4rem;
                        color: $secondary;
                        flex-shrink: 0;

                        @media (max-width: 767px) {
                            font-size: 0.9rem;
                        }
                    }
                } 

                .content {
                    margin-left: 10px;

                    h4 {
                        font-weight: 100;

                        @media (max-width: 767px) {
                            font-size: 16px;
                        }
                    }
                }

                &:hover {
                    background-color: $black;
                    border: 1px solid $secondary;
                    border-left: 5px solid $secondary;
                }
            }
        }
    }
}

.home-services {
    padding: 60px 0;
    background-color: $primary;

    @media (max-width: 767px) {
        padding: 15px;
    }

    .service-card {
        background: transparent;
        
        .card-inner {
            background: #fff;

            p.service-excerpt {
                color: $primary
            }

        }
    }
    .home-services-link {
        text-align: center;
        margin: 20px auto 0;
    }
}

.testimonial-text {
    h3 {
        color: $secondary;
        font-weight: 100;
    }
}

.testimonials-container .testimonials-section .testimonial .testimonial-meta .testimonial-info h4.testimonial-name {
    font-weight: 100;;
    
}

.blog-preview-section {
    padding: 60px 0;
    background-color: #000;
    color: #fff;

    .blog-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .blog-card {
        padding: 10px;
        display: flex;
        flex-direction: column;

        .card {
            background: #2a2a2a;
            border: 1px solid $secondary;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            height: 100%;
            transition: transform 0.3s ease;

            &:hover {
                transform: translateY(-5px);
            }

            .card-img {
                
                img {
                    border-radius: 10px 10px 0 0;
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                    display: block;
                }
            }

            .card-body {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 20px;

                .post-category {
                    display: inline-block;
                    background: #444;
                    color: #ddd;
                    padding: 4px 10px;
                    border-radius: 12px;
                    font-size: 12px;
                    margin-bottom: 10px;
                }

                .post-title {
                    color: $secondary;
                    font-size: 18px;
                    font-weight: 100;
                    margin: 0 0 10px;
                }

                .post-excerpt {
                    font-size: 14px;
                    color: #bbb;
                    line-height: 1.5;
                    margin-bottom: 20px;
                }

                .read-more-btn {
                    display: inline-block;
                    padding: 10px 30px;
                    border: 1px solid #888;
                    color: #fff;
                    text-decoration: none;
                    border-radius: 20px;
                    transition: all 0.2s ease;
                    width: 140px;

                    &:hover {
                        background: #fff;
                        color: #1c1c1c;
                    }
                }
            }
        }
    }
}

.faq-section {
    background-color: $primary;
    padding: 30px 0;

    @media (max-width: 1180px) {
        padding: 15px;
    }

    .faq-content-big-container {
        color: $white;
    }

    .faq-content-big {
        @media (min-width: 768px) and (max-width: 1180px) {
            padding-left: 15px;
        }
        @media (max-width: 767px) {
            min-width: 100%;
            width: 100%;
        }
    }

    .faq-item {
        cursor: pointer;
        padding: 15px;
        width: 100%;

        @media (max-width: 1180px) {
            padding: 5px 0;
        }

        .faq-question {
            border: 1px solid #01478f;
            border-radius: 5px;
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: all 0.3s ease-in-out;

            h3 {
                color: $white;
                font-weight: 100;
                margin: 0;
                font-size: clamp(20px, 18px, 26px);
                line-height: 1.5;
            }

            i {
                font-size: 1.5rem;
                transition: transform 0.3s ease;
                color: $secondary;
            }

            &:hover {
                    background-color: $black;
                    border: 1px solid $secondary;
                    border-left: 5px solid $secondary;
                }
        }

        .faq-answer {
            margin-top: 10px;
            font-size: 1.1rem;
            line-height: 1.5;
            display: none;

            p {
                color: $white;
                margin: 0;

                a {
                    color: $secondary;
                    text-decoration: underline;

                    &:hover {
                        color: $light-primary;
                    }
                }
            }
        }

        &.open .faq-answer {
            display: block;
        }

        &.open .faq-question i {
            transform: rotate(180deg); // Rotate to minus
            content: "\f068"; // Font Awesome minus icon
        }
    }
}

.calendly-cta-container {
    padding: 30px 0;

    @media (max-width: 767px) {
        padding: 15px;
    }

    .row {
        align-items: center;

        .content {
            display: flex;
            flex-direction: column;
            padding-right: 30px;

            h2, .cta-content, .button-box {
                margin-bottom: 30px;
            }

            @media (max-width: 767px) {
                padding: 10px;
            }
        }
    }
}

// Marketing Landing Page
.page-template-page-marketing-landing-page {
    header {
        .button-box {
            margin: -25px 0px 0px 0px;
            p {
                margin: 0;
            }
        }
        @media (max-width: 767px) {
            .button-box {
                display: none;
            }
        }
    }
}